
body{background-color:rgb(18, 25, 41)}

    p{color: rgb(255, 255, 255);}

    h1{color: rgb(255, 255, 255);}

    h2{color:rgb(160, 193, 231);}

    h3{color:  rgb(255, 255, 255);}

    h1 {text-align:center;}
    h2 {text-align:left;}
    h3 {text-align:left;}

/*IDs son unicos por elementos las clases son repetibles*/
/* uso ·parrafo- especial y abro corchetes*/

#parrafo-especial{
    text-align: center;
        }

    a{
         color: blue;
        }
    
    a:hover{
        color:black
        }
    img{
        margin: auto;
    }

img{ margin: center;}
