

body{background-color:rgba(23, 32, 54, 0.753)}

    p{color: rgb(255, 255, 255);}

    h1{color: rgb(255, 255, 255);}

    h2{color:rgb(255, 255, 255);}

    h3{color:  rgb(255, 255, 255);}

    h6{color:  rgba(167, 167, 167, 0.664);}

    h1 {text-align:center;}
    h2 {text-align:left;}
    h3 {text-align:left;}

/*IDs son unicos por elementos las clases son repetibles*/
/* uso ·parrafo- especial y abro corchetes*/

#parrafo-especial{
    text-align: center;
        }

    a{
         color: rgb(255, 255, 255);
        }
    
    a:hover{
        color:rgb(190, 14, 14)
        }
    img{
        margin: auto;
    }
